body {
	background-color: #EDEDED;
}

table {
    border-collapse: collapse;
	width: 1439px;
}

table td, table th {
    border: 2px solid #CCC;
	height: 175px;
	text-align: center;
}

table tr:first-child th {
    border-top: 0;
}

table tr:last-child td {
    border-bottom: 0;
}

table tr td:first-child,

table tr th:first-child {
    border-left: 0;
}

table tr td:last-child,

table tr th:last-child {
    border-right: 0;
}

a:hover {
	border-bottom: thick solid #999;
}

#container {
	margin: 0 auto;
	width: 1439px;
	background-color: #FFF;
	text-align: center;
}

.pageLink {
	position: absolute;
	display: block;
	height: auto;
	width: auto;
}

headIcon {
	display: block;
	width: 1437px;
	height: 328px;
}

.icon {
	display: block;
	width: 155px;
	height: 130px;
	margin: auto;
}

.gray {
	background-color: #EDEDED;	
}